/.idea/**
/passManger/bin/**
/passManger/obj/**
/.vs/**
/bin/**
!/bin/premake5
!/bin/premake5.exe

/**/passManger.vcxproj
/**/passManger.vcxproj.filters
/**/passMangerCpp.sln
/**/passManger/passManger.vcxproj.user
/**/Makefile